/* line 2, /Users/JessicaNgo/Documents/RAILS/familyfinder/app/assets/stylesheets/login.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 8, /Users/JessicaNgo/Documents/RAILS/familyfinder/app/assets/stylesheets/login.scss */
main {
  flex: 1 0 auto;
}

/* line 12, /Users/JessicaNgo/Documents/RAILS/familyfinder/app/assets/stylesheets/login.scss */
body {
  background: #fff;
}

/* line 16, /Users/JessicaNgo/Documents/RAILS/familyfinder/app/assets/stylesheets/login.scss */
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

/* line 23, /Users/JessicaNgo/Documents/RAILS/familyfinder/app/assets/stylesheets/login.scss */
.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}
