<div class="center">
<h1>Family finder project</h1>

<h5> Familyfinder an easy to use database to document current survivors from the Khmer Rouge Regime (1975-1979).

The application is minimalistic in design as to facilitate ease of use and slow Internet connectivity.

The aim of the project is to create a database containing the names, hometowns, age, stories and missing status of survivors who have been seperated from their loved ones. <h5>
</div>
